table {
    border: 1px solid black; 
    border-collapse: collapse; 
    text-align: center;
}
td, th {
    border: 1px solid black;
}
thead {
    background-color: red;
}
tr:nth-child(even) {
    background-color: lightgrey;
}