<!DOCTYPE html>
<html>
<head>
	<title>Student Data</title>
</head>
<body>
	<h1>Student Details</h1>
	<table border="1px solid black">
		<tr>
			<th>Student Id</th>
			<th>Course Id</th>
			<th>Marks</th>
		</tr>
		{% for _, row in table_data.iterrows() %}
		<tr>
			<td>{{ row[0] }}</td>
			<td>{{ row[1] }}</td>
			<td>{{ row[2] }}</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="2" align="center">Total Marks</td>
			<td>{{ table_data['marks'].sum() }}</td>
		</tr>
	</table>
</body>
</html>

